<div class="border-top footer-spree-copyright">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row py-3 footer-spree-copyright-content">
      <div>
        © <%= Time.current.year %> <%= link_to current_store.name, current_store.formatted_url %>. <%= Spree.t(:all_rights_reserved) %>.
        <p class="pt-2 footer-spree">
          <a class="pt-2 footer-spree" href="/pages/terms" aria-label="Terms">T&C'S</a>
          <a>|</a>
          <a class="pt-2 footer-spree" href="/pages/privacy" aria-label="Privacy">PRIVACY</a>
          <a>|</a>
          <a class="pt-2 footer-spree" href="/pages/cookie-policy" aria-label="Cookie Policy">COOKIE POLICY</a>
        </p>
      </div>
    </div>
  </div>
</div>
